:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(192, 192, 192, 0.1);
}

aside {
  position: fixed;
}

aside img {
  height: 106px;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

aside ul a {
  color: var(--blue);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

aside li {
  list-style-type: none;
  border-bottom: 2px solid var(--light-blue);
  text-align: center;
}